* {
  padding: 0;
  margin: 0;
}

main {
  max-width: 960px;
  border: 1px solid #000;
  margin: 20px auto;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, auto);
}

header,
footer.end {
  grid-column: 1/-1;
  clear: both;
}

/*aside {
  float: left;
  width: 35%;

  grid-column: 2;
  grid-row: 6;
}*/

article#1 {
  grid-column: 1;
  grid-row: 2;
  float: left;
  width: 35%;
}

article#2 {
  grid-column: 1;
  grid-row: 4;
  float: left;
  width: 35%;
}

article#3 {
  grid-column: 1;
  grid-row: 6;
  float: left;
  width: 35%;
}

section#primary {
  float: right;
  width: 65%;

  grid-column: 2;
  grid-row: 2 / 7;
}
