body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;

  background-color: #252526;
}

h1 {
  background-color: #f27b35;
  grid-column: 1/3;
  grid-row: 1;
  text-align: center;
}

ul {
  justify-items: center;
  text-align: center;
  background-color: #f25244;
  grid-column: 1;
  grid-row: 2/4;
}

@media screen and (max-width: 800px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;

    background-color: #252526;
  }

  h1 {
    background-color: #f27b35;
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
  }

  ul {
    justify-items: center;
    text-align: center;
    background-color: #f25244;
    grid-column: 1;
    grid-row: 2/4;
  }
}

@media screen and (min-width: 1600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;

    background-color: #252526;
  }

  h1 {
    background-color: #f27b35;
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
  }

  ul {
    justify-items: center;
    text-align: center;
    background-color: #f25244;
    grid-column: 1;
    grid-row: 2/4;
  }
}
